[2018-08-28 09:12] nikolaymazurenko opened #4 "CNAME record error"
Hi,
I get error when trying to add CNAME record:
[code]

With A record all working fine.

[2018-08-29 00:44] adamdecaf commented on #4
Can you paste the terraform config?

[2018-08-29 08:39] nikolaymazurenko commented on #4
My config with some censoring:
[code]

And what I have after this in terraform.tfstate:
[code]
So, the record had been added to namecheap but I got the error and I couldn't do anything with the record after that by terraform. Only if I delete tfstate file I can add or change the record again.

[2018-08-31 21:38] adamdecaf commented on #4
Was this a one time thing? Can you perform multiple updates (in a row) to the record now?

Looking through the terraform configs which uses this I noticed my `address` values have a trailing `.`. I forget if the provider/library adds that automatically if left off (or if it matters to namecheap).

[code]

[2018-08-31 22:12] adamdecaf commented on #4
I updated the error messages a bit. If you're building from source https://github.com/adamdecaf/terraform-provider-namecheap/commit/bfa6b0ad7cc1a0e3d7e118c3e6e71e7ff6efebdd updates that.

[2018-10-12 23:54] punkdata commented on #4
Just want to give you some props for developing this terraform provider.  It's a great plugin! :+1:

[2018-11-07 01:51] adamdecaf commented on #4
@nikolaymazurenko did you need help figuring this out still?

@punkdata Thanks!

[2018-11-07 07:13] nikolaymazurenko commented on #4
@adamdecaf,  thank you very much for this module! Trailing dot resolved my problem. Excellent work!

[2018-11-07 16:16] adamdecaf commented on #4
Awesome! Please open more bugs if you find them!

[2018-11-07 16:16] #4 closed

[2018-12-02 22:42] OGProgrammer opened #7 "Record gets created but terraform apply times out on Creating."
### Terraform Version
Terraform v0.11.10
v1.0.0 Release for Namecheap provider on osx

### Affected Resource(s)
namecheap_record

### Debug Output
None provided after TF_LOG=info defined..

### Expected Behavior
Apply completes

### Actual Behavior
Keeps trying to create the record even though it creates the record. It is like it doesn't get back a response that the apply was successful.

### Outp

[2018-12-02 22:43] OGProgrammer commented on #7
I'm on the new mac osx Mohave update 10.14.1

[2018-12-02 22:48] OGProgrammer commented on #7
To clarify, it creates the record in namecheap. However, the terraform apply never gets a response back I guess that it was created...

[2018-12-03 19:59] adamdecaf commented on #7
I recall running into this recently. I'll take a look.

[2018-12-03 22:08] OGProgrammer commented on #7
Tried building master and using my compiled provider but no luck. Disabled 2FA and tried refreshing my API key. No luck still, same behavior.

[2018-12-04 05:36] OGProgrammer commented on #7
Added trace level, was at info only. Still nothing 100% but maybe some of this you might recognize...
[code]

Really want to use the provider and stop doing that stuff manually haha.

[2018-12-04 17:39] adamdecaf commented on #7
If you `C-c` and `terraform plan` does Terraform want to still create the record?

[2018-12-04 20:37] adamdecaf commented on #7
@OGProgrammer Fixed the bug. It was bad `sync.Mutex` calls. The fix ihttps://github.com/adamdecaf/terraform-provider-namecheap/commit/e6e2bfb39d22f4385907fda07c363f0aa7a330fd

I'm cutting a release now.

[2018-12-04 20:37] #7 closed

[2018-12-08 17:09] OGProgrammer commented on #7
You are a god among men, Thanks Adam.

[2018-12-09 21:19] OGProgrammer opened #9 "Possible rate limit or other issue"
If you run `terraform plan` back-to-back, it seems Namecheap will throttle your requests. I get the following error (in summary) from terraform:

`expected element type <ApiResponse> but have <html>`

### Terraform Version
Terraform v0.11.10
Namecheap v1.1.1

### Affected Resource(s)
- namecheap_record
- namecheap_ns

### Debug Output

Terraform trace output towards the end of a `terraform apply`

[2018-12-11 18:03] adamdecaf commented on #9
Makes sense. I pushed off a backoff aware client until it was needed. Do you know if they return a header regarding the rate limit?

We can look to see if there are better calls to minimize the requests too.

[2018-12-11 18:06] adamdecaf commented on #9
Regarding a retry/backoff aware `http.Client` I'd recommend using https://github.com/hashicorp/go-retryablehttp - thoughts? We should be able to hook in a `Backoff` func to scrape the XML or a header value.

[2018-12-12 05:13] OGProgrammer commented on #9
This is very much an RPC style API... response is a 200 even on error. No rate limiting headers in the response before or during a throttle. Not sure if we should ask support about what the limits are because I don't see anything in the docs. That library looks good, maybe if we see ApiResponse  Status="ERROR" with the Error # 500000 then we start backing off a bit. I'm going to take a look if the

[2018-12-20 18:11] OGProgrammer commented on #9
If we also figure out what the response is when the ip isn't whitelisted, perhaps we can provide better feedback on that. Right now if you are on a new ip, you get back `namecheap_record.example-com: namecheap_record.example-com: Couldn't find namecheap record: Could not find the record` which could be confusing for a dev seeing this and not realizing it is whitelist ip related.

[2019-02-01 03:03] OGProgrammer commented on #9
Yo @adamdecaf , this pissed me off enough to fix it. Checkout the PR https://github.com/adamdecaf/terraform-provider-namecheap/pull/11

Looks like it is working well thus far. Appreciate your feedback, wondering a bit about the mutexes and if I messed anything up there.

[2019-02-20 17:48] adamdecaf commented on #9
@OGProgrammer Can you try out `master`? It worked for me to create a record, so I hope the retries work for you also! If so I'll make a proper release.

[2019-02-24 23:57] OGProgrammer commented on #9
Tested `master` and it so slowww. I think you need to double check whats up with your branch. The branch I have `hotfix/rateThrottling` is blazing fast, and `master` seems to cause issues where namecheap returns some error. If you could pass the error up somehow through the `namecheap` go depenedency then we could get more visibility maybe?

Not sure what the issue is but I'm sticking with my bran

[2019-02-25 20:19] adamdecaf commented on #9
@OGProgrammer Whoops. I've fixed that in https://github.com/adamdecaf/terraform-provider-namecheap/commit/bab5a379587159efacae63b2bf52653664c82707. It works for me to create a record in 6-9s and delete one in ~6s. Hope it's fast for you too now!

[2019-02-26 22:35] OGProgrammer commented on #9
Looks good now!

[2019-02-26 23:14] adamdecaf commented on #9
Awesome! I released 1.2.0 which has binaries to download

https://github.com/adamdecaf/terraform-provider-namecheap/releases/tag/1.2.0

Let me know if you have other issues, but thanks for the help on this!

[2019-02-26 23:14] #9 closed

[2019-03-06 20:38] danielposton opened #13 "Terraform v0.12.0-beta1 compatibility"
Thank you for making a namecheap provider!  I was wondering if it's on the radar to make a version that is compatible with the new v0.12.0-beta1 version?

[2019-03-07 23:25] adamdecaf commented on #13
@danielposton Yea. I haven't looked over what exactly has changed, but I'm aware an upgrade is needed. I'll try and read over what all is changing this weekend.

[2019-03-19 23:20] adamdecaf commented on #13
@danielposton I created https://github.com/adamdecaf/terraform-provider-namecheap/pull/14 which worked for me locally on a DNS record. Can you try out the branch? Just run `make` to install the binary on your system in `$GOPATH/bin`.

https://github.com/adamdecaf/terraform-provider-namecheap/tree/terraform0.12

[2019-03-29 00:08] NicoleYson commented on #13
I tried to do this myself, because all namecheap resources are stuck on `module.test.namecheap_record.subdomain.1: Still creating... (40m31s elapsed)`
 for me

Upon a `make` from that `terraform0.12` branch -
[code]
Are there any alternatives that can be used, you think?

Version for context:
[code]

[2019-03-29 00:13] NicoleYson opened #16 "Apply for `namecheap_record` does not apply and doesn't time out"
### Terraform Version
`Terraform v0.11.13`

### Affected Resource(s)
`namecheap_record`

### Terraform Configuration Files
[code]

### Debug Output
`Still creating...  (45m31s elapsed)`

### Panic Output
If Terraform produced a panic, please provide a link to a GitHub Gist containing the output of the `crash.log`.
No panic, attempting to create for 45 minutes

### Expected Behavior
Either it times

[2019-03-29 15:37] adamdecaf commented on #13
`gitlab.howett.net` looks to be using a Let's Encrypt certificate chain. Is your machine trusting that root?

https://api.moov.io/ is another site (that I host) which uses Let's Encrypt. Can you load that?

[2019-03-29 15:38] adamdecaf commented on #16
It could be related to #13, but what version of the namecheap provider are you using? I fixed a bug that sounds very similar to yours in 1.2.0.

https://github.com/adamdecaf/terraform-provider-namecheap/releases/tag/1.2.0

[2019-04-11 21:12] OGProgrammer commented on #13
Maybe he is behind a proxy or something. Also I noticed `export TF_LOG=trace` before running `terraform apply` might give you more info here.

[2019-04-11 21:19] OGProgrammer opened #17 "Better way to handle incorrect IP or bad domain"
### Terraform Version

0.11.13

### Namecheap provider version

latest

### Affected Resource(s)

namecheap_record

### Terraform Configuration Files

n/a

### Debug Output

[code]

### Panic Output

n/a

### Expected Behavior

Terraform errors out and say "Yo, you don't own this domain"

### Actual Behavior

Loops forever 0_o

[code]

### Steps to Reproduce
Please list the steps required to repro

[2019-04-12 16:03] adamdecaf commented on #17
Thanks for the report - I suppose we need to parse their response XML a bit better and pull out that error.

[2019-04-12 17:39] adamdecaf commented on #17
For reference, this is what I see on terraform 0.12

[code]

[2019-04-12 17:41] adamdecaf commented on #17
I'm seeing the same result on terraform 0.11 as I do on 0.12, so I'm not sure how to reproduce this yet.

[2019-04-12 18:00] adamdecaf commented on #17
I went ahead and lowered the timeouts and max retries. The wait time seem way too long (30s).

https://github.com/adamdecaf/terraform-provider-namecheap/pull/18 thoughts?

[2019-04-12 22:59] adamdecaf commented on #16
@NicoleYson Did you figure this out? Need some help?

[2019-04-30 06:32] OGProgrammer commented on #17
That might be a good move to lower timeouts. Also if you change IP addresses, you get back "cannot create hash" which was a-little mis-leading. Just hope others that run into it wont get tripped up.

[2019-04-30 06:32] #17 closed

[2019-05-10 16:40] adamdecaf commented on #13
FYI the master branch is updated with 0.12.0-rc1 after Hashicorp released it.

[2019-05-16 02:57] MostHated opened #19 "How do I import an already created/setup domain?"
Hi there,
   I am just wondering how I go about configuring an already existing domain? I purchase them through Namecheap often so it already exists there, but I wanted to use Terraform to set the name servers to different things using just the "basic DNS" which provides nameservers only and I point those to Cloudflare, GCP, AWS, DigitalOcean, etc depending on various things. I tried to use namech

[2019-05-16 16:40] adamdecaf commented on #19
Importing isn't supported by the provider (yet), but can be added. The Terraform `schema.Resource` struct offers an `Importer` field to handle that logic. I can try and add something in the next day or two.

https://www.terraform.io/docs/extend/resources.html#importers
https://godoc.org/github.com/hashicorp/terraform/helper/schema#Resource

[2019-05-16 18:24] MostHated commented on #19
That would be great. I always just buy them through Namecheap but never actually use their settings, I always just change the NS or something else. I have a few dozen domains there, so it would be super useful to be able to import them all and be able to mass change their records all at once. Huge time saver.  I definitely appreciate the work you have put into this. I only recently started using T

[2019-05-21 18:34] OGProgrammer commented on #16
IP probably isn't whitelisted but I do have concerns with how slow this is. We should contact Namecheap about the throttling and work with them on a way to fix/raise that. I have not been hitting the Retry parts but I am managing 30+ domains with this and watching terraform build the apply/plan seems to fetch domain info serially. Perhaps we can async these calls within reason (under whatever Name

[2019-05-21 18:41] adamdecaf commented on #16
I don't work at Namecheap and don't know anyone who does. IIRC their API didn't handle concurrent requests. Maybe they have a newer API that does?

What version are you on? I [lowered the retry sleep interval](https://github.com/adamdecaf/terraform-provider-namecheap/commit/74a1f5143795c9b01337276c8f4dd62182d58f0f), which helped speed up applys after an error. I can make a RC version to try -- it'

[2019-05-21 20:55] NicoleYson commented on #16
Oops sorry, I missed these notifications!

I was using the latest version at that time, but I am no longer using this provider because of this bug.

I was using a combination of
[code]
and `${chomp(data.http.host_ip.body)}` to get the ip and I ensured I whitelisted the relevant IP in namecheap as well.

[2019-05-21 21:17] adamdecaf commented on #16
Okay, sounds like the performance is definitely an issue. I hope the next release, which upgrades to Terraform 0.12 when Hashicorp releases it, will be faster for everyone.

[2019-05-22 20:07] MostHated commented on #19
Whenever you happen to have the time to make the update, if you would not mind sending a quick reply here so I know, or just close this, I would be most grateful!

Thanks again,
-MH

[2019-05-24 00:57] adamdecaf commented on #19
I think I've got a PR for this. It works on one of my domains (root A record and subdomain), but I'd like others to try it.  Can y'all pull that branch down, or would a pre-release binary be easier?

https://github.com/adamdecaf/terraform-provider-namecheap/pull/21

[2019-05-24 01:01] MostHated commented on #19
I can snag the branch and have a go at it. Is it 11.x or 12.x?

[2019-05-24 01:04] adamdecaf commented on #19
It's on Terraform 0.12.0

[2019-05-24 01:48] MostHated commented on #19
Never mind, it would be easier if you just made a build, lol. I am not getting import errors on the package saying there is a circular dependency.

[2019-05-24 16:09] adamdecaf commented on #16
1.3.0 of this provide has been released. Does that improve the performance for you at all?

[2019-05-24 16:27] adamdecaf commented on #19
@MostHated Sure thing, try out 1.4.0-rc1

https://github.com/adamdecaf/terraform-provider-namecheap/releases/tag/1.4.0-rc1

[2019-05-24 17:46] MostHated commented on #19
I am wondering if there is some sort of necessary differentiation between the different types of DNS. All of my domains use "Basic" / "Custom" DNS, which as seen below simply gives you the option to point the nameservers to another provider, nothing more. I believe you have to change it to a different mode in order to get the normal entries like A, CNAME, MX, etc.

![](https://i.imgur.com/qh8ugmB.

[2019-05-24 18:37] adamdecaf commented on #19
Don't you need to change DNS records in Cloudflare, not Namecheap?

[2019-05-24 18:39] adamdecaf commented on #19
Try `cloudflaree.com` instead of `cloudflares.com`

[2019-05-24 19:43] MostHated commented on #19
I was initially excited that it might have been simply a silly mistake that was keeping it from working, but strangely it still came back with the same error after fixing and trying again.

[2019-05-24 20:06] adamdecaf commented on #19
Is there a terraform.tfstate file from before? You might try renaming that and doing the import again.

[2019-05-24 20:08] MostHated commented on #19
No, there wasn't one initially. When I started I started fresh with a new folder and 0 files. So it was created during this process of trying it out.

[2019-05-24 20:11] adamdecaf commented on #19
Strange.. Can you share the output of an import and re-apply that doesn't complete?

[2019-05-24 20:28] MostHated commented on #19
![](https://i.imgur.com/Voa1be1.png)

[2019-05-25 03:39] MostHated commented on #19
This is interesting. I was looking through the namecheap api as well as your code and I came across this in your repo.

[code]

When I saw that I figured it was worth a try.
[code]

It didn't let me import it, but when I ran the above, what do you know... it worked.

[2019-05-27 02:08] adamdecaf commented on #19
Oh right, `namecheap_ns` has been there to set the NS records. I thought you could set the NS records with `namecheap_record`, but I suppose not. Does this solve the issue for you?

[2019-05-27 02:13] MostHated commented on #19
Based on a few tests that I have run, it looks like everything is good. :+1: Now I just have to work with the fella who made the G-Suite provider. :smile:

I am pretty close to having things setup just as I wished, I appreciate the assistance.

[2019-05-27 02:13] #19 closed

[2019-05-27 04:23] OGProgrammer commented on #16
Def see an improvement , thanks adam

[2019-05-28 15:21] adamdecaf commented on #16
Thanks. Feel free to ping this issue or open a new one with other problems.

[2019-05-28 15:21] #16 closed

[2019-05-28 15:21] adamdecaf commented on #13
1.3.0 has been released with Terraform 0.12 support.

[2019-05-28 15:21] #13 closed

[2019-05-29 21:51] OGProgrammer opened #23 "Terraform 0.12 `timeouts` param on resources"
Not sure if this is related to my 0.12 upgrade nightmare or a legit minor issue.

I've noticed some of my other resources complaining that `timeouts` is empty so not sure if we just need to add something to support this.

### Terraform Version
[code]
### Namecheap provider version

`1.3.0`

### Affected Resource(s)
Please list the resources as a list, for example:
- namecheap_record
- probably the

[2019-05-29 22:22] OGProgrammer commented on #23
Closing this , it may be just my setup.

[2019-05-29 22:22] #23 closed

[2019-06-18 15:28] OGProgrammer opened #24 "If you don't own the domain, state gets jacked up"
Edge case where you change a domain name from something you did own, to something you don't. Things get "stuck" in a broken state.

### Terraform Version
0.12

### Namecheap provider version
latest tagged release

### Affected Resource(s)
Please list the resources as a list, for example:
- namecheap_record

### Terraform Configuration Files
N/A

### Debug Output
See above

### Panic Output
See abo

[2019-06-18 15:43] adamdecaf commented on #24
Can you share what gets messed up? Is the resource added to the state file when it shouldn't be?

[2019-06-18 16:19] OGProgrammer commented on #24
tf state looks like this after you apply a incorrect domain

[code]

I have to change the line `"domain": "adipix.com"` and fix the domain name manually , otherwise I keep getting hash errors.

[2019-06-18 16:21] OGProgrammer commented on #24
Same thing seems to happen when you put in an invalid CNAME record also. I just added a CNAME record but forgot the period at the end of the address and was getting the same hash errors unless I manually removed them from state file.

[2019-06-18 16:22] OGProgrammer commented on #24
Did not work and corrupted state file. (note address period not there)
[code]

Worked
[code]

[2019-06-18 16:23] OGProgrammer commented on #24
These are "low priority" in my opinion but can be really confusing to someone new with terraform/this provider.

[2019-06-18 23:15] adamdecaf commented on #24
I created https://github.com/adamdecaf/namecheap/pull/7 and https://github.com/adamdecaf/terraform-provider-namecheap/pull/25 to look at both issues here. I haven't tried them out, but any thoughts?

[2019-10-11 13:25] cu12 commented on #16
Sorry to reopen, but this also could be due to the amount of DNS records you are trying to add, limit is 150.

Error on the interface, looks like this, when you reached the limit:
[code]

[2019-11-25 10:32] JohnnyMastricht opened #27 "Please release new version of provider with the support of ALIAS records"
Hi there! I see that Go library for Namecheap API was updated and now includes the support of ALIAS records. Could you please be so kind to release new version of provider for that?

Thanks in advance

[2019-11-28 16:24] adamdecaf commented on #27
I've released 1.5.0

https://github.com/adamdecaf/terraform-provider-namecheap/releases/tag/1.5.0

[2019-11-28 16:24] #27 closed

[2020-03-04 10:01] leylmordor opened #31 "root is waiting for provider namecheap"
Been trying to terraform apply it but i keep getting an error.
Any ideas ?

Versions:
**Terraform v0.12.20**
**Namcheap v1.4.0**

Here is the error
[code]

[2020-03-04 16:52] adamdecaf commented on #31
Does the apply eventually complete? I've had to wait 30s before too.

[2020-05-14 19:21] cyberbutler opened #32 "Failed to create namecheap Record: Invalid record type"
### Terraform Version
[code]
### Namecheap provider version

Both built from source and Release v1.5.0

### Affected Resource(s)
- namecheap_record

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/cyberbutler/39753094328b7a623a5ebc5004e507ac

### Expected Behavior
What should have happened?
Valid Record Type `A` should have been passed to the Namecheap Go API Suc

[2020-05-14 19:46] cyberbutler commented on #32
Just to be more concise the RecordType does not pass the `CheckRecordType` validation in the `namecheap` module. I cannot figure out why, I've also replicated the validation code with no issues:

[code]

[2020-07-13 18:50] AlexFBP commented on #24
I have almost the same `Error: Failed to create namecheap Record: Could not find the record with hash` but when creating MX records, corrupting my state (Even by commenting MX records/resources, appears that error on `terraform plan`)

So, I ran `terraform show` and my 2 MX registers were marked as `(tainted)`, so i had to delete them with

[code]

as I have my state backed up in Terraform. In mea

[2020-07-15 05:12] AlexFBP commented on #24
Update to my last message: Worked, also as with CNAME registers: There must be a final "." in MX registers.

Is this possible to evaluate if the final period is present in CNAME/MX registers to throw an error in the `terraform plan` phase?

[2020-07-19 01:52] aj-foster commented on #24
Thank you @AlexFBP — that `terraform state rm` command helped resolve things quickly when I forgot the trailing period in a `CNAME` record just now while working with remote state.

[2020-08-14 11:43] orefalo opened #34 "tf 0.13"
Error: Failed to install provider

Error while installing hashicorp/namecheap: provider registry
registry.terraform.io does not have a provider named
registry.terraform.io/hashicorp/namecheap

[2020-08-14 11:45] orefalo commented on #34
https://www.terraform.io/upgrade-guides/0-13.html

look like it's just configuration - testing

[2020-08-14 11:51] orefalo commented on #34
ok, so first - it appears this repository must be renamed.
from terraform-provider-namecheap to namecheap

next, you need to register it on https://registry.terraform.io/

[2020-08-16 08:56] romanoff commented on #34
There seems to be updated documentation for in-house providers here: https://www.terraform.io/upgrade-guides/0-13.html#in-house-providers . But I wasn't successful in following provided steps. If somebody will be more lucky, please provide your steps. Also would be great if this provided was in general registry so that additional steps were not required to get it working

[2020-08-16 16:00] adamdecaf commented on #34
I didn't know Terraform 0.13 changes how providers are distributed, but I can see about adding it to the official registry. I doubt I'll get to doing that this week. I don't think the repository needs renamed - `terraform-provider-zzzz` has been the standard for years.

[2020-08-30 21:50] andreyvital commented on #34
Any updates @adamdecaf? 🤓

[2020-09-05 06:04] orefalo commented on #34
As a reference, here is link to another extension I use. They had to publish the extension to get it working with tf 13 -

Please let us know if you want to handle this (I would recommend since you are the author) or if you want someone else to own this deployment type.

https://github.com/banzaicloud/terraform-provider-k8s/issues/6

[2020-10-07 20:11] dcordz commented on #34
I was able to get this working by "faking" the hashicorp registry in the ~/.terraform.d/plugins directory

Instead of using the target directory/instructions in the readme I did (on my mac):

[code]

Add the provider to terraform in <root_dir>/versions.tf:
[code]

Instantiate the provider in <root_dir>/main.tf:
[code]

[2020-10-11 22:27] draganm commented on #34
@dcordz you can use provider shims: https://numtide.com/articles/generate-terraform-provider-shim/

Unfortunately current version of the shim generator won't work with this repository (expects release files to be either in a `.tar.gz` or `.zip` archive), but you can easily create a shim bash script by changing the example from the article a bit and check it in with the rest of the terraform code.

[2020-10-16 11:51] kerberjg commented on #34
@dcordz @draganm These are both good solutions, but they don't seem to work with Terraform Cloud

[2020-10-16 17:13] adamdecaf commented on #34
I'm going to look at updating this provider over the weekend.

[2020-11-29 17:56] dovidgef commented on #34
Hi, I was only able to use the namecheap provider using @dcordz trick.
Perhaps add this trick to the Readme instructions.

Thanks for all your hard work.

[2020-11-29 18:07] dovidgef opened #35 "How Update Nameservers When Using Custom DNS"
Hi, how could I update a domains nameservers using this provider?

Lets say I would like to switch managing DNS to a different third party DNS provider?

Thanks

[2020-11-30 05:28] orefalo commented on #34
I can confirm the trick worked for me too. It should be added to the instructions.

With that said, I got tired of registering my IP with namecheap for API Access, and switched to the hertzner DNS. the terraform provider works like a charm and it is registered on hashycorp repo.

[2020-12-06 14:26] b-m-f commented on #34
Here is another solution:
# Specify provider
Create versions.tf:

[code]
# Install module to new local registry folder
Now install the module to `` with:
[code]

# Update state
For the state to use the correct module run:
[code]

If you had the hack from @dcordz applied run:
[code]

# More info
https://www.terraform.io/upgrade-guides/0-13.html#in-house-providers

[2021-01-06 16:13] leveled opened #37 "Unable to create MX records"
I seem to be unable to create MX records. Below is a redacted, abbreviated version of my terraform files. I've tried both with appended '.' and no '.' and it does not seem to make a difference. Some of these variables are not relevant to MX records, would omitting them help? I'd like to use the same generic module for record creation but can make a separate one if that is required.

[code]

[2021-02-18 02:09] #34 closed

[2021-02-22 00:18] DomWeldon commented on #35
Just to add to this, it seems this provider is focused primarily around using Namecheap's own DNS features, whereas, I simply use Namecheap as my DNS registrar but then manage all my DNS config through Route 53. A cursory browse of thee Namecheap API seems to suggest that there are lots more methods which can be added to the provider than just those currently implemented by this provider.

The mos

[2021-06-11 15:02] awoimbee opened #45 "This provider isn't production ready / this provider has big issues"
### Terraform Version
[code]

### Namecheap provider version
`robgmills/namecheap 1.7.0`

### My goal

The goal is not to be mean, but to make the maintainers realise (if they don't already) how bad this provider is, from the perspective of a user.
Also, this does not look like some sort of open source project with maintainers that work for free, this is direct from the namecheap github org, so I

[2021-06-11 15:11] ifree92 commented on #45
Hi @awoimbee

Thanks for interest and report. Much appreciated.

We just transfered this repo under our support in less than 1 week and just about to start a complete revision, refactoring, wrapping with a correct tests and general stabilisation.

Please bear with us, we will update you ASAP. Probably @StyleT will add a few words

[2021-06-12 00:36] adamdecaf commented on #45
(Speaking as an individual, I'm not affiliated with Namecheap)

I started this project after needing to set a couple DNS records with namecheap. I found a Go library someone else wrote, adopted it and built this provider to my personal needs. After a couple years of volunteering support on nights and weekends I offered it to Namecheap who accepted it last week because my day job needed most of my

[2021-06-14 10:40] awoimbee commented on #45
Thanks for the quick and professional responses. I changed the title for something more suitable (the original one did its job of getting a reaction).
Thanks for creating this provider. While I think it's not ready yet, I still think it's very cool that it exists.

The original issue about this provider working 1/3 times, having no disclaimer that it's not ready, and the weird situation with the R

[2021-06-14 10:48] ifree92 commented on #45
@awoimbee Anyway, thanks for reporting any issues, that will help us to figure out faster and understand the current state of things

[2021-06-29 19:50] ifree92 opened #46 "[ATTENTION] Complete project refactoring"
Hi there,

We want to update our community about the further development of the project.

Short history: about a month before we have transferred the project under our support at @namecheap from @adamdecaf.
Really thanks to the author and all contributors for your time and efforts, much appreciated. Now we will do our best to get it stable asap :)

Upon our learning and debugging of the existing c

[2021-06-30 09:38] StyleT commented on #45
I suppose that some/all of the issues should be addressed in #46

[2021-06-30 09:38] StyleT commented on #35
I suppose that it should be addressed in #46 or soon after it

[2021-06-30 10:51] awoimbee commented on #46
This makes a lot of sense.

I don't know the details of the API, but to me it looks a lot like [`aws_security_group`](https://github.com/hashicorp/terraform-provider-aws/blob/main/aws/resource_aws_security_group.go) and [`aws_security_group_rule`](https://github.com/hashicorp/terraform-provider-aws/blob/main/aws/resource_aws_security_group_rule.go), you could have the same system with `namecheap_d

[2021-06-30 12:19] ifree92 commented on #46
@awoimbee Thank you for your inputs. Much appreciated.

Just to be sure I understand correctly, did you mean by `abort` the cancellation of the process with appropriate error in case we have conflicts between the current state and the "reality" upon reading?

Yah, was thinking in the same way. The only reason to keep `namecheap_domain_records` naming for me is that it means the only list of record

[2021-06-30 14:37] awoimbee commented on #46
@ifree92 thanks for doing all the work :)

Exactly, but now that I think about it, it's dumb, the user has to write "yes" in the prompt he does not need additional protection. Anyways, this is a detail / not important.

A Terraform resource that doesn't actually create the resource would be [nothing new](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/default_vpc) but y

[2021-06-30 16:47] adamdecaf commented on #46
I could see being safe and defaulting `mode` to "abort" so that even under `terraform apply -auto-approve` actions are always approved/updated by a human, but it would force everyone to update their `.tf` files.

If there is a merge mode would it be deprecated in the future?

I like the idea of multiple `record{ .. }` stanzas. That's a really nice change.

[2021-06-30 20:53] ifree92 commented on #46
@adamdecaf thanks for the input

Agree, I like the idea.

Very good question. I was thinking about leaving exactly `merge` by default. The major justification for that is our API has some restrictions, e.g. there's impossible to add `SRV` records. So, user probably wants to add `SRV` records manually, but without `merge` they will overwrite manual settings of a domain.
Probably, `abort` might be a

[2021-06-30 21:44] adamdecaf commented on #46
The SRV limitation makes merge a good idea. Perhaps the provider should error when `mode` is blank, which means the human hasn't updated/reviewed their HCL yet.

[2021-07-01 08:11] ifree92 commented on #46
@adamdecaf makes sense.
I was thinking about marking the `mode` as required to warn the user about setting the behavior explicitly.

[2021-07-01 17:52] diraol commented on #46
Hi all!

First of all, thanks for all your efforts with this provider! :)

I have only one comment here so far.

Regarding the given proposal:
[code]

The only possible drawback I can see is that it may be a bit hard to "reuse" specific domain record resource.

For example:
If I had:
[code]
I'd be able to use something like `namecheap_record.www-example2.com.outputs.full_domain` (`www.example2.com

[2021-07-02 08:42] ifree92 commented on #46
@diraol Thanks for the feedback. Actually, well spotted! :)

Let's see what we can do. Probably, we will provide some examples regarding your concerns.

[2021-07-04 01:51] AlexFBP commented on #24
Additional complement to my previous comments:

For a recently bought domain, seems that it is needed at first time to set up manually for it in Advanced Settings > Mail Settings: Custom MX and set a valid MX record. Otherwise, no matter what you do and check, you'll get the "`Error: Failed to create namecheap Record: Could not find the record with hash`"

After that initially/manually created MX

[2021-07-14 13:15] ifree92 commented on #46
Thanks to everyone for this discussion, inputs, comments, much appreciated from our side!

We have been published a new major release `v2.0.0`! You're welcome to test and provide your feedback.
Documentation will become better with time 😸

https://registry.terraform.io/providers/namecheap/namecheap/latest

_I'm closing this issue right now. You're welcome to open new ones._

[2021-07-14 14:26] ifree92 commented on #24
Due to complete project refactoring, I'm closing this issue.
Refer to #46 to get more details.

@AlexFBP Unfortunately, the previous version did not support MX records at all.
You're welcome to try a new https://registry.terraform.io/providers/namecheap/namecheap/latest v2 major release.

I trust https://registry.terraform.io/providers/namecheap/namecheap/latest/docs/guides/namecheap_domain_record

[2021-07-14 14:26] #24 closed

[2021-07-15 01:37] tranvansang commented on #46
@ifree92 Thank you for maintaining this project officially.
I have been waiting for this so far.

I have one question needed to figure out before migrating my configuration to v2.0.

Currently, I am using `namecheap_record` to configure records separately. For example, I group SendGrid related records in a separated module.

From v2.0: I need to place **all** records in a `namecheap_domain_records

[2021-07-15 08:35] ifree92 commented on #46
@tranvansang

Please have a look at [MERGE mode](https://registry.terraform.io/providers/namecheap/namecheap/latest/docs/guides/namecheap_domain_records_guide#mode).

Probably, this might be a solution for your case. Let me provide you with examples.

[code]

[code]

In different modules, after applying the resources below, your domain will contain two records for dev.* and blog.*.

But this appro

[2021-07-15 08:38] ifree92 commented on #37
Thanks for reporting.
The issue has been completely resolved in the new v2 major release.

Please have a look https://registry.terraform.io/providers/namecheap/namecheap/latest/docs/guides/namecheap_domain_records_guide#email-type to get details about MX records.

[2021-07-15 08:38] #37 closed

[2021-07-15 08:38] ifree92 commented on #35
Please have a look here: https://registry.terraform.io/providers/namecheap/namecheap/latest/docs/guides/namecheap_domain_records_guide#nameservers

This is a way how to set custom nameservers.

[2021-07-15 08:38] #35 closed

[2021-07-15 08:39] #32 closed

[2021-07-15 08:40] ifree92 commented on #31
Please have a look at our new v2 major release.
Under the hood, this is a completely new provider with lots of improvements.

https://registry.terraform.io/providers/namecheap/namecheap/latest/docs

[2021-07-15 08:40] #31 closed

[2021-07-15 08:46] ifree92 commented on #45
@awoimbee thanks for your patience and report.
We have been published our new v2 major release, please have a look
https://registry.terraform.io/providers/namecheap/namecheap/latest/docs

The only issue from your list that requires additional consideration is the client IP address exposure. We will return to this point soon.

Right now I'm closing the issue.

[2021-07-15 08:46] #45 closed

[2021-07-15 09:33] tranvansang commented on #46
@ifree92 GREAT!! <3. Thank you very much.

[2021-07-15 09:41] tranvansang commented on #46
@ifree92 is there a way to import existing records to a resource? I dont see it in the current docs.

I am going to migrate from v1 by manually importing the existing records created by provider v1.

[2021-07-15 09:49] ifree92 commented on #46
@tranvansang

The only way described here: https://registry.terraform.io/providers/namecheap/namecheap/latest/docs/guides/namecheap_provider_migration_v2.0.0

Since we have completely changed the resource schema and now the one resource might contain many records, that's hard to migrate a state correctly automatically. Unfortunately, you have to migrate your terraform code manually.

Let me know i

[2021-07-15 10:11] tranvansang commented on #46
@ifree92 i didnt mean to ask how to import from v1 code.

I mean how to import from an existing record and manage them via terraform resource.

Do you mean that I need to remove all the records once and re-defining them with the terraform resources?

[2021-07-15 10:33] tranvansang commented on #46
I have one more question.

If this is the case. How do you manage to know which records belong to a resource to distinguish them from records created in other places?

Previously, v1 calculated and used hash.

Im curious about the logic in v2 to know any caveat beforehand.

[2021-07-15 10:55] ifree92 commented on #46
@tranvansang

Short answer - yes, you should remove old records and re-create them using a new provider. I will revert to this soon.

Basically, the same approach. However, instead of using "hash" function that is creating hash by a combination of hostname, record type, address, we're using just a concatenated string to distinguish records.

However, I see some improvements that I should make for

[2021-07-15 13:18] ifree92 commented on #46
@tranvansang could you please provide a bit more details about your case with multiple resources for different modules.
Do you mean you would like to apply multiple resources related to the same domain through the same terraform instance or different?

This is quite mandatory for us to understand your case to make correct improvements. If you're using the same terraform instance and have multiple

[2021-07-15 13:59] tranvansang commented on #46
@ifree92

Do you mean you would like to apply multiple resources related to the same domain through the same terraform instance or different?

I am using both.

For the same domain, I have multiple services installed to its own sub-domain. Thus, I separated them into separated terraform instances.

For one instance, I use sub-modules which might include a namecheap record.
For example: AWS SES/clo

[2021-07-15 16:29] adamdecaf commented on #46
We should clarify that `depends_on` is required when using `MERGE` mode.

[code]

[2021-07-29 10:46] ifree92 commented on #46
We have made mandatory improvements to allow users to work with different records through the multiple resources that are related to the same domain.

This mandatory improvement will be included in v2.0.1 that will be released in a day or so.

Feel free to re-open this issue.

[2021-07-29 10:46] #46 closed

[2021-10-09 23:58] Engrave-zz opened #59 "NameCheap Whitelisted IPs"
Have issues running this module through CI/CD solution, im using Azure Devops and the problem im having is that the client ips of the managed service constantly changes. Is there anyway I can whitelist a CIDR instead of a specific IP?

[2021-10-26 01:43] tranvansang opened #60 "Domain name not found with FreeDNS domain"
I am migrating to namecheap provider v2.0.
The v2.0 has a problem with FreeDNS domains and it is currently blocking me.
Please have a look at this.
Thank you.

### Terraform Version
[code]

### Namecheap provider version

`2.0.1`

### Affected Resource(s)

- `namecheap_domain_records`

### Terraform Configuration Files

NOTE: `transa.ng` is a FreeDNS domain. (I bought it from another DNS provider

[2021-11-08 11:10] tranvansang commented on #60
Hello, namecheap has taken this project and maintained it officially.

However, this issue is blocking me.
I cannot use any FreeDNS domain at all.

Is there any update about this?

@ifree92

[2021-11-08 18:20] StyleT commented on #60
Hi!
I'll take a look at this somewhere this week.

[2021-11-24 10:50] tranvansang commented on #60
Hello. Is there any update on this?

[2021-11-25 09:13] StyleT commented on #60
Hi! Sorry for the delay (we had internal staff changes that affects this project). It's in the pipeline at the moment. Hope to have it fixed very soon.

[2021-11-26 12:47] StyleT commented on #60
Hello @tranvansang

I just tested the provider version personally. And it works fine for me with FreeDNS domain actually.

Could you pls take a full screenshot of the page https://ap.www.namecheap.com/Domains/DomainControlPanel/transa.ng/advancedns ?

And give me full provider configuration that you're using (except for api_key of course).

[2021-11-26 13:51] tranvansang commented on #60
![screencapture-ap-www-namecheap-Domains-DomainControlPanel-transa-ng-advancedns-2021-11-26-22_51_28](https://user-images.githubusercontent.com/13043196/143591015-3ee3282d-c12b-4aa3-9966-74060bad6629.png)

[2021-11-26 13:54] tranvansang commented on #60
[code]

[2021-11-26 16:05] StyleT commented on #60
Hi!
Could you specify what you have in `user_name` and `api_user` for provider?

Error looks like you're trying to use wrong user to access domain. This error comes from public Namecheap API and is described here: https://www.namecheap.com/support/api/error-codes/ (search for "2019166" error code ob the page).

During my test I set `user_name` and `api_user` to the same value of my NC username I u

[2021-11-26 16:46] tranvansang commented on #60
[code]

I only use one credential for login. This credential works with other (non freedns) domains.

Moreover, **terraform runs normally in the first run, but fails from subsequent runs, even with `terraform plan`**

[2021-11-26 16:48] StyleT commented on #60
Now I got the same error, thx. Will continue next week ;)

[2021-11-29 16:44] #60 closed

[2021-11-29 22:27] tranvansang commented on #60
It works now. Thanks!

[2021-12-05 19:24] cvillers opened #62 "Allow IPs for Terraform Cloud"
Terraform Cloud must be allowed API access. Currently, I have to manually allow each IP address so that applying via Terraform Cloud succeeds. From experimentation, it seems that different IPs are used for different runs, so I have to add a new one after each failure.

A related issue is #59 - if there is a public CIDR for cloud-apply that could also work here. Note that the [IP Range API](https:/

[2021-12-05 19:33] cvillers commented on #62
After some experimentation, I found that 2 IPs that have failed so far are part of AWS us-east-2, and another is in us-east-1. I understand that it is probably undesirable to allow entire AWS CIDR ranges so #59 may not solve this after all.

[2021-12-09 19:19] adamdecaf commented on #62
I don't know the Namecheap internals but their systems might take a few minutes to fully update each allowed IP.

[2021-12-10 14:38] StyleT commented on #62
Hi!
Unfortunately this is a limitation of the Namecheap public API itself, rather than Terraform provider itself. Also there is no way to change whitelist via API as far as I know :(

I would advice you to contact our customer support team. They do track such client requests and as soon as there is enough demand on certain feature - it get's processed by respective product team.

[2021-12-10 14:39] StyleT commented on #59
Hi!
Unfortunately this is a limitation of the Namecheap public API itself, rather than Terraform provider itself. Also there is no way to change whitelist via API as far as I know :(

I would advice you to contact our customer support team. They do track such client requests and as soon as there is enough demand on certain feature - it get's processed by respective product team.

Or you can always

[2021-12-15 04:17] ptous opened #63 "Provider 2.0.0+ Import?"
Hi, there. As this is a "pure" usage / documentation question and not about a failure (yet!), I'm going to start with only a little of the usual requested debug log info. If you need me to produce any debug output to answer my question though, I will gladly do so.

In short: is it possible to use the modern provider to perform a `terraform import` of an existing domain configuration? If it _is_ po

[2021-12-27 19:36] trilom commented on #63
Looked at this today and found the following:

This line is where the issue happens:
https://github.com/namecheap/terraform-provider-namecheap/blob/46977b868c8f9386f0c1a82b9f7465339a616286/namecheap/namecheap_domain_record.go#L193-L196

It calls the `GetList` endpoint which calls `ParseDomain`
https://github.com/namecheap/terraform-provider-namecheap/blob/46977b868c8f9386f0c1a82b9f7465339a616286/v

[2021-12-29 17:03] StyleT commented on #63
Hi!

Thanks for identifying the issue and PR! I'll take a look at it as soon as possible. But likely it's gonna happen somewhere next week or so...

[2022-01-24 15:46] amitai-devops opened #65 "OVERWRITE Mode does not warn about removing manual records"
### Terraform Version
v1.0.4

### Namecheap provider version
v2.0.2

### Affected Resource(s)
Please list the resources as a list, for example:
- namecheap_domain_records

### Terraform Configuration Files
[code]

### Debug Output
Terraform will perform the following actions:
[code]

### Expected Behavior
Should warn about removing existing resources that are created manually. Even thou the manual

[2022-01-28 19:13] StyleT commented on #63
This was fixed in v2.1.0

[2022-01-28 19:13] #63 closed

[2022-01-28 19:20] StyleT commented on #65
Hi!

Thanks to your feedback. Honestly speaking I'm not really sure that it's technically possible to show such a diff (which would clearly indicate removal of records) in Terraform.

Talking about the docs - fixed here cfd2a7d

[2022-02-19 20:53] ptous commented on #63
A bit late on the response, but I wanted to confirm that the fixed import functionality works very well, pulling in state for all the records in a domain declared in the HCL. This allowed me to easily flesh out HCL that matched the domain's config based on plan differences. My domain configs weren't huge, but they were big enough that I wanted to codify them in case of loss, and this made that pos

[2022-05-21 00:53] nquayson opened #67 "Whitelist IPs for known CICD providers"
I understand the namecheap API has this limitation. Are there any plans for whitelisting IPs of known CICD providers: Terraform Cloud, Github Actions, Azure DevOPS, AWS CodePipeline etc.

[2022-05-21 02:28] nquayson opened #68 "Terraform import record with nameservers incorrectly setting mode to "IMPORT""
**Error: expected mode to be one of [MERGE OVERWRITE], got IMPORT**

How to recreate:
Import a namecheap record with `nameservers`. The import `mode` is set to "IMPORT"

https://github.com/namecheap/terraform-provider-namecheap/blob/master/namecheap/namecheap_domain_record.go#L17

[2022-05-30 14:50] b1ff commented on #67
Hey,
we support whitelist during API key creation in your account.

As for global whitelist - we don't have that in plan, and unfortunately in nearest future we do not consider doing that.

[2022-06-06 22:40] dgershman commented on #59
Is it possible to allowlist a CIDR range on the Namecheap API instead?

[2022-07-25 22:39] tedmiston commented on #67
The problem is that IPs for e.g., Terraform Cloud, are dynamic.  I do not think there is actually a whitelist one can use.  I just get failed apply after failed apply because of this issue with the Namecheap provider / API.

[2022-07-25 22:41] tedmiston commented on #62
This seems to make the Namecheap provider totally unusable when Terraform Cloud is the backend.  I keep whitelisting new IPs, but from the TFC side it seems that the IPs are dynamic, so it fails every time.

It's pretty hard to do anything real with this provider if the underlying API breaks on requiring whitelisting something that Terraform Cloud doesn't have (static IPs).

[2022-08-01 22:05] anorborg commented on #68
Just to add more details here, when following the import instructions, described here:

https://github.com/namecheap/terraform-provider-namecheap/blob/master/docs/resources/domain_records.md#import

Then attempting a `plan` or `apply` will result in a prompt of a potential change (even though none should be occurring):

[code]

The import seems to set the mode to `IMPORT` even though according to

[2022-10-18 09:55] ams0 opened #69 "Nameserver array missing trailing dot"
Hi there,

thank you for the provider, it really helped coming up with this repo: https://github.com/ams0/namecheap-azure-terraform where I use Azure DNS and Namecheap. My only issue is that every time I run `tf plan`, the run will force new values for the name servers:

[code]

because the array coming from the output of `azurerm_dns_zone.zone[each.key].name_servers` is an array with dots at the

[2022-10-18 10:25] ams0 commented on #69
I could fix it like this (horrible hack):

[code]

but still...

[2022-10-18 14:55] adamdecaf commented on #69
Can you `sort()` the array of strings?

https://www.terraform.io/language/functions/sort

[2022-10-18 16:52] ams0 commented on #69
a bit better:

[code]

So I'm happy now, but just want to leave this here in case someone needs this little piece on info to make Namecheap+AzureDNS work together

[2022-10-18 16:52] #69 closed

[2022-11-04 15:42] maelp opened #70 "User not found"
### Terraform Version
Terraform v1.3.4
on darwin_amd64

### Namecheap provider version
+ provider registry.terraform.io/namecheap/namecheap v2.1.0

### Terraform Configuration Files
[code]

### Expected Behavior
I should be able to create a DNS record

### Actual Behavior
Error

[code]

### Steps to Reproduce
`terraform apply`